* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(82, 82, 82);
    --black-color: black;
}

body {
    background-color: var(--primary-color);
}

nav {
    height:50px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.hd-logo {
    height: 45%;
    padding: 0 0 0 100px;
}

a.logo {
    font-size: 17px;
    text-decoration: none;
    color: var(--secondary-color);
}

.links {
    display: flex;
    margin-left: auto;
    padding-right: 10%;
    font-size: 13px;
}

.nav {
    display: flex;
    margin-left: 50px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
    background-image: linear-gradient(black, black);
    background-size: 0% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: color 0.3s ease, background-size 0.5s ease;
}

.nav:hover {
    color: var(--black-color);
    background-size: 100% 2px;
}

#login {
    display: none;
}

.form-container {
    text-align: center;
    margin-top: 3%;
}

.form-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1%;
}

.form-logo img {
    width: 43px;
    height: auto;
    padding-bottom: 1%;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0 0px black;
    border-radius: 8px;
    width: 400px;
    height: 200px;
    margin: auto;
    background-color: white;
    padding: 120px 0;
}

.input-container {
    position: relative;
}

#email, #password {
    width: 320px;
    height: 30px;
    padding-left: 35px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    border-radius: 8px;
    border: none;
}

input:focus {
    outline: none;
}

input::placeholder {
    align-items: center;
    font-size: 15px;
}

#password::placeholder  {
    font-size: 35px;
}

i {
    position: absolute;
    padding: 3px 8px;
    align-items: center;
}

.input-container span {
    position: absolute;
    top: 30%;        
    right: 5px;      
    transform: translateY(-50%);
    font-size: 13px;
    cursor: pointer;
    color: var(--secondary-color);
}

.forgot-pass a {
    display: flex;
    align-items: center;      
    justify-content: flex-end; 
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 13px;
    margin-bottom: 20px;
}

#login-btn {
    background-color: var(--black-color);
    color: white;
    width: 100%;
    padding: 5px 0;
    border: none;
    border-radius: 8px;
}

#login-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

#ft {
    display: none;
}

/* Footer Styles */
footer {
    border-top: 1px solid #ccc;
    position: relative;
    margin-top: 5%;
}

.ft-logo {
    width: 90px;
    height: auto;
}

#footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 35px 100px 0 100px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-email {
    display: flex;
    align-items: center;
    gap: 10px;
}

#ft-email {
    width: 280px;
    height: 28px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 12px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-bottom: 0 ;
}

#ft-email::placeholder {
    font-size: 12px;
}

#update-btn {
    height: 28px;
    width: auto;
    padding: 0 20px;
    color: rgb(58, 58, 58);
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1;
}

#update-btn:hover {
    background-color: rgb(219, 219, 219);
    transition: 0.5s;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    color: var(--secondary-color);
    font-size: 14px;
}

.copyright {
    display: flex;
    align-items: center;
}

.powered {
    display: flex;
    align-items: center;
}
